* {
 box-sizing:  border-box;
}

body{
    background-color: #4A786E;
}

.gallery-img{
    display: none;
    max-height: 600px;
}

.active{
    display: block;
}

.image-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color:white;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.prev{
    margin-right: 15px;
}

.btn:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    background-color: #80AEA1;
    color: rgb(40, 65,60);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    z-index: 10;
    position: fixed;
    top: 0%;
    width: 100%;
    font-weight: bold;
    height: 90px;
}

.nav-text{
    width: 93%;
    margin: 0;
    padding: 0;
}

.nav-text p{
    padding: 0;
    margin: 10px 0 2px 0;
}
.swiper-container{
    top: 120px;
    display: flex;
    justify-content: center;
 }

.swiper-slide{
    text-align: center;
   
}

.swiper-container img{
    width: 100%;
    height: 600px;
}

body{
    margin: 0;
    padding: 0;
}



.brand{
    margin-top: 0.3rem;
    cursor: grab;
    z-index: 10;
    width: 7%;
    display: flex;    
    justify-content: center;
    height: 5.3rem;
    
}


@keyframes mymove {
    from{left: 0%;}
    to{left: 1600px;}
}


#drag-img {
    animation-timing-function:ease-out;
}

.brand img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    animation: mymove 7s infinite;
}



.footer{
    margin: 180px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(9, 37, 31);    
}



